Большие пальцы.дб*
.DS_Store*
HELP.md
.градуировка
построить/
цель/

### STS ###
.apt_generated
.путь к классу
.путь к фабрике
.проект
.настройки
.Весенние бобы
.sts4-кэш

### ИДЕЯ ИНТЕЛЛЕКТА ###
.идея
*.СРС
*.iml
*.пис
вон/

### NetBeans ###
/nbproject/частный/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### ПРОТИВ кода ###
.vscode/

### Файлы пакетов ###
*.банка
*.война
*.нар
*.ухо
*.zip
*.tar.gz
*.rar

### Исключения ###
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/главная/**
!**/src/тест/**